useDynLib(HMMcopy, .registration = TRUE)
import(data.table)
export(wigsToRangedData, correctReadcount, plotBias, plotCorrection,
	wigToRangedData, wigToArray, rangedDataToWig, rangedDataToSeg,
	HMMsegment, plotSegments, plotParam, stateCols)
importFrom("grDevices", "densCols")
importFrom("graphics", "lines", "par", "plot", "segments")
importFrom("stats", "approxfun", "dnorm", "loess", "lowess", "predict", "mad", "median", "quantile", "sd")
importFrom("utils", "write.table")
